<div id="<%= dom_id clinical_system %>">
  <p>
    <strong>System name:</strong>
    <%= clinical_system.system_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= clinical_system.description %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= clinical_system.supplier_id %>
  </p>

  <p>
    <strong>Clinical safety officer:</strong>
    <%= clinical_system.clinical_safety_officer_id %>
  </p>

  <p>
    <strong>Go live date:</strong>
    <%= clinical_system.go_live_date %>
  </p>

  <p>
    <strong>Review date:</strong>
    <%= clinical_system.review_date %>
  </p>

  <p>
    <strong>Technical owner:</strong>
    <%= clinical_system.technical_owner_id %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= clinical_system.organisation_id %>
  </p>

</div>
